@font-face {
  font-family: SourceSansPro;
  src: url(SourceSansPro/SourceSansPro-Regular.ttf);
}
@font-face {
  font-family: SourceSansPro-Bold;
  src: url(SourceSansPro/SourceSansPro-Bold.ttf);
}

@font-face {
  font-family: InterRegular;
  src: url(Inter/Inter-Regular-slnt=0.ttf);
}
@font-face {
  font-family: InterSemiBold;
  src: url(Inter/Inter-SemiBold-slnt=0.ttf);
}
@font-face {
  font-family: InterBold;
  src: url(Inter/Inter-Bold-slnt=0.ttf);
}
@font-face {
  font-family: InterBlack;
  src: url(Inter/Inter-Black-slnt=0.ttf);
}

:root{
  font-size: 16px;
}

.dark-theme {

}
.light-theme {

}